#myNav {
    width: 100vh;
    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px 0 20px;
    border-top: 1px solid #c0c0c0;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
}

#block{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.transformRotate{
    transform: rotate(180deg);
}

#myBody{
    padding-left: 230px;
    padding-right: 40px;

}

#myBody2{
    max-width:1190px;
}

.featuredImage{
    object-fit: cover;
    height: 500px;
    width: 100%;
}

.h-500{
    height: 500px;
}

.widthColumn{
    max-width:calc(50% - 3.7em);
}

.projectColumns{
    column-gap: 7.4em;
    row-gap: 0;
}

ul{
    list-style-type: none;
}

.ptop{
    padding-top: 2.5rem;
}

#projectShow li:nth-child(2n){
    padding-top: 220px;
}